{% extends 'base.html' %}
{% load bootstrap %}


{% block title %}Login{% endblock %}

{% block main %}

    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-info">Login</button>
    </form>

{% endblock %}

{% block footer %}
    <footer class="footer">
      <div class="container">
        <span class="text-muted">SnapFollowers!</span>
      </div>
    </footer>
{% endblock %}