{% extends 'base.html' %}


{% block title %} Admin {% endblock %}

{% block main %}

    <div class="row">
        <div class="col">

        </div>

        <div class="col-6">
            <h3>List of preferences</h3>
            <ul class="list-group">
                {% for person in persons %}
                    <li class="list-group-item">
                        <a href="{% url 'persons_update' person.id %}">{{ person.tags }}</a>
                        <a href="{% url 'persons_delete' person.id %}" class="trash-item">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </li>

                {% endfor %}
            </ul>

            <br>

            <a href="{% url 'statistic' %}" class="btn btn-primary"> Statistic</a>
            <a href="{% url 'person_new' %}" class="btn btn-primary"> New suggestion</a>

        </div>

        <div class="col">
            {% if user.is_authenticated %}
                <p>Hello {{user.username }}
                    <a href="{% url 'logout' %}">
                        <span class="badge badge-dark">logout</span>
                    </a>
                </p>

            {% endif %}
        </div>
    </div>


{% endblock %}

{% block footer %}
    <footer class="footer">
      <div class="container">
        <span class="text-muted">SnapFollowers!</span>
      </div>
    </footer>
{% endblock %}