<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">

    <title>Document</title>
</head>
<body>
    <h1>Deletar conta</h1>
    <hr>
    <form action="{{ url_for('deleteTag') }}" method="POST">
        <div class="container">
            <td>Digite a tag que será deletada:</td>
            <table>             
                <td>tag:</td>
                <td><input type="text" name="deletetag"></td>
            <input type="submit" value="deleteTag"/>
            </table>
        </div>
    </form>
    <form action="{{ url_for('home') }}" method="POST">
        <tr>home</tr>
        <input type="submit" value="home">
    </form>

    <form action="{{ url_for('tag') }}" method="POST">
        <tr>Adicionar tag</tr>
        <input type="submit" value="tag">
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}  
</body>
</html>