<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">

    <title>Document</title>
</head>
<body>
    <h1>Deletar tag</h1>
    <hr>
    <form action="{{ url_for('delete') }}" method="POST">
        <div class="container">
            <td>Digite os dados para deletar sua conta:</td>
            <table>             
                <td>Nome:</td>
                <td><input type="text" name="nome"></td>
                <br>
                <td>Nome de Usuario:</td>
                <td><input type="text" name="nomeUsuario"></td>
                <br>
                <td>email:</td>
                <td><input type="email" name="email"></td>
                <br>
                <td>senha:</td>
                <td><input type="text" name="senha"></td>
                <br>
                <td>Confirmacao de senha:</td>
                <td><input type="text" name="senhaConfirmacao"></td>
                <br>   
            </table>
            <input type="submit" value="delete"/>
        </div>
    </form>
</body>
</html>