
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    
    <title>Perfil</title>
</head>
<body> 
        <form action="{{ url_for('perfil') }}" method="POST">
            <tr>Dados</tr>
            <input type="submit" value="perfil">
        </form>        
        <form action="{{ url_for('delete') }}" method="POST">
            <tr>Deletar conta</tr>
            <input type="submit" value="delete">
        </form>
        <form action="{{ url_for('update') }}" method="POST">
            <tr>Substuir dados de conta</tr>
            <input type="submit" value="update">
        </form>
        <form action="{{ url_for('tag') }}" method="POST">
            <tr>Tag</tr>
            <input type="submit" value="tag">
        </form>     
    </div>
</body>
</html>