<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <title>Login</title>
</head>
<body>
    <h1>Login de usuario</h1>
    <hr>
    
    <form action="{{ url_for('login') }}" method="POST">
        <div class="container">
            <table>
                <td>Nome de Usuario</td>
                <br>
                <td><input type="text" name="nomeUser"></td>
                <br>
                <td>Senha</td>
                <td><input type="password" name="senhaUser"></td>
                <br>
            </table>
            <input type="submit" valeu="tag">
        </div>
    </form>
</body>
</html>
