<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('mostrarTags') }}" method="POST">
        <table  class="table" border="4">
            <tr>
                <td>
                    <h4>tag</h4>
                </td>
            {% for tag in tag %}
            <tr>                    
                <td>{{tag.tag}}</td>
            </tr>
            {% endfor %}
        </table>    
    </form>
    <form action="{{ url_for('tag') }}" method="POST">
        <tr>Tag</tr>
        <input type="submit" value="tag">
    </form>  
</body>
</html>