<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    
    <title>Dados doq perfil</title>
</head>
<body>
    <h1>Dados do perfil</h1>
    <form action="{{ url_for('perfil') }}" method="POST">
        <table  class="table" border="4">
            <tr>
                <td>
                    <h4>Id</h4>
                </td>
                <td>
                    <h4>nome:</h4>
                </td>
                <td>
                    <h4>Nome de usuario:</h4>
                </td>
            </tr>
                
            {% for usuario in usuarios %}
            <tr>    
                <td>{{usuario._id}}</td>
                <td>{{usuario.nome}}</td>
                <td>{{usuario.nomeUsuario}}</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>