
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    
    <title>Home</title>
</head>
<body>
    <div class="container">
        <form action="{{ url_for('tag') }}" method="POST">
            <table>
                <tr>    
                    <td>Tag</td>
                    <td><input type="text" name="tag"></td>
                    
                </tr>
            </table>
            <input type="submit" value="salvar">
        </form>
    </div>
</body>
</html>