<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Substituir tag</h1>
    <hr>
    <form action="{{ url_for('updateTag') }}" method="POST">
        <div class="container">
            <td>Digite a tag que deseja substituir:</td>
            <table>             
                <td>Tag atual:</td>
                <td><input type="text" name="tagAtual"></td>
                <br>
                <td>Nova tag:</td>
                <td><input type="text" name="tagNova"></td>   
            </table>
            <input type="submit" value="substituir"/>
        </div>
    </form>
</body>
</html>