<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Novos dados para sua conta</h1>
    <hr>
    <form action="{{ url_for('update') }}" method="POST">
        <div class="container">
            <td>Novos dados da conta</td>
            <table>             
                <td>Nome de usuario atual</td>
                <td><input type="text" name="nomeAtual"></td>
                <br>
                <td>Nome novo:</td>
                <td><input type="text" name="nome"></td>
                <br>
                <td>Nome de Usuario novo:</td>
                <td><input type="text" name="nomeUsuario"></td>
                <br>
                <td>email novo:</td>
                <td><input type="email" name="email"></td>
                <br>
                <td>senha nova:</td>
                <td><input type="text" name="senha"></td>
                <br>
                <td>Confirmacao de senha:</td>
                <td><input type="text" name="senhaConfirmacao"></td>
                <br>   
            </table>
            <input type="submit" value="update"/>
</body>
</html>